.employee-container {
	border:1px solid white;
	width: 99.8vw;
	height:100%;
	display:flex;
	flex-direction: column;
}

.employee_child_title {
	border:1px solid white;
	display:flex;
	justify-content:flex-start; 
	width:100%;
}

.employee_child {
	border:1px solid white;
	display:flex;
	justify-content:flex-start; 
	width:60%;
	padding-left: 10%;
}

.employee_child_table {
	height:30%;
	width:60%;
	padding-left: 10%;
}
.error_message {
	font-family:Cambria;
	font-weight:bold;
	padding:1%;
}

#employee-child_container {
	border:1px solid orangered;
	width: 80%;
	display:flex;
	flex-direction: column;
	
}

.employee_child_content {
	border:1px solid white;
	display:flex;
	justify-content:flex-start; 
	width:80%;
}

.employee {
	height:30px;
	width:80%;
	padding-left:10%;
}

.employee_add_button {
	font-size:100% !important;
	width:calc(100vw-85px); 
	height:calc(100vh-88px);
}

@media only screen and (max-width: 1125px) {
	.employee_add_button {
		font-size:80% !important;
	}
}

@media only screen and (max-width: 415px) {
	.employee_add_button {
		font-size:50% !important;
	}
}