.dialog_title {
	display:flex;
	justify-content:center;
	padding:8px 0px !important;
}

.dialogbox_image_icon {
	width:8vw;
	height:8vh;
}

.dialog_action {
	padding: 8px 70px !important;
}

.approved_image_icon {
	width:4vw;
	height:4vh;
}

.cancel_image_icon {
	width:4vw;
	height:4vh;
}
