.base_form {
    width:200px;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:99.9vw
}

.employee_title {
    font-size: 25px;
    width:100%;
    color:#3f51b5;
    font-weight: bold;
    font-family: Cambria;
    display: flex;
    justify-content: center;
}

.child_container {
    border: 1px solid silver;
    border-radius: 2%;
    width:30vw;
    min-height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_content {
    width:20vw;
    display:flex;
    justify-content: center;
}

.space {
    height:4vh;
}

.employee_button {
	width:200px;
	height:40px;
}

@media only screen and (max-width: 1125px) {
	.child_container {
		width:40vw;
		min-height:80vh;
	}
	
	.div_content {
		width:30vw;
	}
}

@media only screen and (max-width: 490px) {
	.child_container {
		width:75vw;
		min-height:90vh;
	}
	
	.div_content {
		width:60vw;
	}
	
	.employee_button {
		width:150px;
	}
	
	.employee_title {
		font-size:21px;
		background-color:#3f51b5;
	}
}